<table style="width:100%">
  <tr>
    <td><div id="container1" style="position: relative; width: 400px; height: 400px;"></div></td>
    <td><div id="container2" style="position: relative; width: 400px; height: 400px;"></div></td>
  </tr>
  <tr>
    <td><div id="container3" style="position: relative; width: 400px; height: 400px;"></div></td>
    <td><div id="container4" style="position: relative; width: 400px; height: 400px;"></div></td>
  </tr>
</table>

<meta charset="UTF-8">
<style>
.datamaps-legend {
    right: -100px;
    top: 0;
    position: relative;
    display: inline-block;
    text-align: left;
 }
.datamaps {
  position: relative;
  display: inline-block;
  text-align: center;
}

.datamaps-legend dl {
  text-align: center;
  display: inline-block;
  position: static;
}
</style>

<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="js/datamaps.ind.js"></script>
<script type="text/javascript">
var colorFills = {
      '0': 'red',
      '1': 'yellow',
      '2': 'blue',
      '3': 'orange',
      '4': 'green',
      '5': 'pink',
      '6': 'silver',
      '7': 'grey',
      '8':'black',
      defaultFill: 'white'
    }


function drawMap(docElementName, startState, dataFilename) {
        var bfsData = {};
        
        var map = new Datamap({
            element: document.getElementById(docElementName), 
            scope: 'ind', 
            geographyConfig: {
              projection: 'equirectangular',
              //dataUrl: 'india.json',
              highlightFillColor: 'existing',
              highlightBorderColor: 'existing',
              popupTemplate: function(geography, data) {
                return '<div class="hoverinfo">' + geography.properties.name + ' (' +  data.level + ') ';
              },
              //popupTemplate: function(geography, data) {
              //  return '<div class="hoverinfo">' + geography.id + ' </div>';
              //},
              highlightBorderWidth: 3
            },
            fills: colorFills,
            data: bfsData,            
            setProjection: function(element) {
                var projection = d3.geo.equirectangular()
                  .center([80, 25])
                  .scale(600)
                  .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
                var path = d3.geo.path()
                  .projection(projection);

                return {path: path, projection: projection};
            }
        });

        d3.csv(dataFilename, function (error, data) {
            data.forEach(function(d) {
                bfsData['IN\\.' + d.state] = {
                //bfsData[d.state] = {
                   fillKey: d.hops,
                   level: d.hops
                };
                //alert(dataFilename + ' ' + d.state + ' ' + d.hops);
            });
            //alert(JSON.stringify(bfs_data));
            map.updateChoropleth(bfsData);
            var legend_params = {
                legendTitle: "BFS from " + startState,
            };
            map.legend(legend_params);
        });
        
        //alert("OK");

}

var docElementNames = ['container1','container2','container3','container4'];
var startStates = ['JK','GJ','MP', 'AR'];
var dataFilenames = ['output/bfs_india_JK.txt', 'output/bfs_india_GJ.txt', 'output/bfs_india_MP.txt', 'output/bfs_india_AR.txt'];
//var docElementNames = ['container1'];
//var startStates = ['JK'];
//var dataFilenames = ['output/bfs_india_JK.txt'];
for(i=0; i < docElementNames.length; i++) {
  drawMap(docElementNames[i], startStates[i], dataFilenames[i]);
}

</script>
</html>
